<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="MageGuide_AdminCategoryProductThumbnail::AdminCategoryProductThumbnail_Label"
                title="MageGuide AdminCategoryProductThumbnail"
                module="MageGuide_AdminCategoryProductThumbnail"
                sortOrder="80"
                parent="MageGuide_Mgbase::MageGuide"
                resource="MageGuide_AdminCategoryProductThumbnail::AdminCategoryProductThumbnail_Label"
        />
        <add
                id="MageGuide_AdminCategoryProductThumbnail::AdminCategoryProductThumbnail"
                title="AdminCategoryProductThumbnail Configuration"
                module="MageGuide_AdminCategoryProductThumbnail"
                action="adminhtml/system_config/edit/section/mageguide_admincategoryproductthumbnail/"
                sortOrder="1"
                parent="MageGuide_AdminCategoryProductThumbnail::AdminCategoryProductThumbnail_Label"
                resource="MageGuide_AdminCategoryProductThumbnail::AdminCategoryProductThumbnail"
        />
    </menu>
</config>